<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reportes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.UMA2021ConnectionString"
            connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UMA2021;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Reportes.Properties.Settings>
            <setting name="InstanciaSQLServer" serializeAs="String">
                <value>LOCALHOST\SQLEXPRESS</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>UMA2021</value>
            </setting>
        </Reportes.Properties.Settings>
    </userSettings>
</configuration>